<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <!-- <student-details my-title="Hello"></student-details> -->
        
    <div ng-controller="MyCtrl">
        <ui-view></ui-view>
        {{myval}}
        <input type="text" ng-model="myval">
        <button ng-click="onClick()">click me</button>
        
        <student-details current-student="myVals"></student-details>
            <table>
                <thead>
                    <tr>
                        <th>name</th>
                        <th>age</th>
                        <th></th>                   
                    </tr>
                </thead>
                <tbody>
                   <tr ng-repeat="stu in students">
                       <td>{{stu.name|customName:'hello'}}

                       </td>
                       
                       <td> {{stu.age}}</td>
                       <td> {{stu.sen}}</td>
                      <td>
                            <button ng-click="viewDetails(stu)">view</button>
                      </td>
                       <td></td>
                   </tr>
                </tbody>
            </table>     
    

    <!-- <div>
        <h2>student details</h2>
        <p>{{myvalue.name}}</p>
        <p>{{myvalue.age}}</p>
    </div> -->
  
    </div>
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <script src="app.service.js"></script>
    <script src="app.filter.js"></script>
    <script src="app.components.js"></script>
    <script src="angular-ui-router.js"></script>

</body>
</html>